<div class="form-container">
  <h1 class="f3">Edit function</h1>

  <%= render 'form' %>

  <h1 class="f3 mt4">Delete function</h1>

  <p class="f6">Permanently delete this function. This is irreversible!</p>

  <%= link_to 'Delete', @function,  method: :delete, data: { confirm: 'Are you sure?' }, class: "f6 bn grow br2 ph3 pv2 mb2 dib white bg-light-red no-underline" %>
</div>
