<%
  title("Explore · Functions.run")
  description("View the latest open-sourced functions on Functions.run.")
%>
<main class="mw6 center">
  <%= render partial: "list", locals: {functions: @functions} %>
</main>
