<section class="cf ph3 ph5-ns pt2 pb4 bg-blue lightest-blue">
  <article class="pv5 fl w-60">
    <p class="f4 f3-ns lh-copy mv0">
      Everything you need to create and manage AWS Lambda functions. Collaborate on, share, and fork functions.
    </p>
    <p class="mt4 mb0">
      <a class="f5 link dim br2 ph3 pv2 dib bg-pink white mr1" href="<%= new_user_path %>">Sign up</a> and start creating your own functions in less than 30 seconds.
    </p>
  </article>
</section>
