<section class="cf ph3 ph5-ns pb4 bg-blue washed-blue">
  <h1 class="fl w-100 mt5 f4 ttu tracked fw6">functions.run</h1>
  <article class="pv5 fl w-60">
    <p class="f4 f3-ns lh-copy mv0 lightest-blue">
      Everything you need to create and manage AWS Lambda functions. Collaborate on, share, and fork functions.
    </p>
    <p class="mt4 mb0">
      <a class="f5 link dim br2 ph3 pv2 dib bg-pink white mr1" href="#">Sign up</a>
      or <a href="<%= functions_path %>" class="white">explore open-source functions</a>.
    </p>
  </article>
</section>
