<section class="ph5-ns pt2 bg-blue lightest-blue">
  <div class="hero-section-inner cf pt2 pb4">
    <article class="pv5 ph5 center">
      <p class="f3 f2-ns lh-copy mv0">
        Everything you need to create and manage AWS Lambda functions. Collaborate on, share, and fork functions.
      </p>
      <p class="mt5 f4 mb0">
        <a class="f4 link dim br2 ph3 pv2 dib bg-pink white mr1" href="<%= new_user_path %>">Sign up</a> and create your own functions in 30 seconds.
      </p>
    </article>
  </div>
</section>

<section class="cf ph3 ph5-ns pt2 pb4 lightest-blue">
