<%
  title("#{@user.username} · Functions.run")
  description("#{@user.username} has #{@functions.size} functions on Functions.run.")
%>

<h1><%= @user.username %></h1>
<main class="mw6 center">
  <%= render partial: "functions/list", locals: {functions: @functions} %>
</main>
