<%
  title("#{@user.username} · Functions.run")
  description("#{@user.username} has #{@functions.size} functions on Functions.run.")
%>

<h1><%= @user.username %></h1>
<ul>
  <% @functions.each do |function| %>
    <li>
      <a href="<%= user_function_path(@user.username, function.name) %>">
        <%= function.name %>
      </a>
    </li>
  <% end %>
</ul>
