html, body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

*:focus {
  outline: none;
}

a, button {
  cursor: pointer;
}

.vex.vex-theme-plain .vex-content {
  max-width: 800px;
  width: auto;
  line-height: 1.1em;
}
