#code-editor {
  min-height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.code-input {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 13px;
  resize: none;
}

.CodeMirror {
  height: 100%;
}
