<nav class="bg-blue">
  <div class="w-100 dt ph4 center">
    <div class="dtc v-mid">
      <a href="/" class="dib no-underline white f5 ttu tracked fw6">
        functions.run
      </a>
    </div>
    <div class="dtc v-mid tr pa3">
      <a class="f6 fw4 hover-white no-underline lightest-blue dn dib-l pv2 ph3" href="<%= functions_path %>">Explore</a>
      <a class="f6 fw4 hover-white no-underline lightest-blue dn dib-l pv2 ph3" href="/" >About</a>
      <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="/" >Log In</a>
      <a class="f6 fw4 hover-white no-underline lightest-blue dib ml2 pv2 ph3 ba" href="/" >Sign Up</a>
    </div>
  </div>
</nav>

<%= yield %>

<%= parent_layout "application" %>
